<head>
    <style>
        video {
            width: 800px;
            border-radius: 4px;
            margin: 10px 0 0 50px;
        }
        div {
            margin-left: 50px;
        }
    </style>
</head>
<body>
<div>魔兽世界</div>
<video src="../static/WOW_Intro.m4v" controls></video>
<div>燃烧的远征</div>
<video src="../static/WOW_Intro_BC.m4v" controls></video>
<div>巫妖王之怒</div>
<video src="../static/WOW_Intro_LK.m4v" controls></video>
<div>愤怒之门</div>
<video src="../static/Wrathgate.m4v" controls></video>
<div>巫妖王的陨落</div>
<video src="../static/FotLK.m4v" controls></video>
<div>狼人</div>
<video src="../static/Worgen.m4v" controls></video>
<div>地精</div>
<video src="../static/Goblin.m4v" controls></video>
<div>死亡之翼的陨落</div>
<video src="../static/DSI_Act4.m4v" controls></video>
<div>熊猫人</div>
<video src="../static/MOP_BR.m4v" controls></video>
<div>进军潘达莉亚·联盟</div>
<video src="../static/MOP_WRA.m4v" controls></video>
<div>进军潘达莉亚·部落</div>
<video src="../static/MOP_WRH.m4v" controls></video>
<div>翡翠林</div>
<video src="../static/MOP_JADE.m4v" controls></video>
<div>加尔鲁什·地狱咆哮</div>
<video src="../static/ORO_Horde.m4v" controls></video>
</body>